{
  "presets": ["react"],
  "plugins": ["transform-react-jsx"],
  "ignore": [
    "foo.js",
    "bar/**/*.js"
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-constant-elements"]
    }
  }
}